{% extends 'base.html' %}

{% block title %}
Patients Booking
{% endblock title %}

{% block body %}

<!-- <div  style="padding: 4px; background: linear-gradient(to right, #757777, #4e4d4e);border-radius: 10px ; text-align: center;font-size: 20px;" class="container mt-3"> -->
<div  style="padding-left: 50px;padding-top: 50px;margin-bottom: 50px; background:#3b3b3b ;border-radius: 10px ; text-align: center;font-size: 20px;" class="container mt-3">
  <div class="row">

    <div style="padding: 50px;" class="col-md-5">
      <div class="card" style="width: 18rem;">
        <img style="image-resolution: 30dpi; border-radius: 10%; " src="static/x1.jpg" alt="Hospital logo"
          class="card-img-top">
        <div style="padding: 10px;" class="card-body">
          <h3
            style="padding-left: 4px ;padding-top: 10px; background: linear-gradient(to right, #ecf7f7, #dfdbdf);border-radius: 10px ; text-align: center;font-size: 20px;"
            class="card-title">HOSPITAL DOCTORS</h3><br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Dr William A. Abdu,<br> M.D, M.S.</p>
          <li class="list-group-item">Dr Myles. B. Abbott,<br> M.D.</li>
          <li class="list-group-item">Dr Khalid Abbed,<br> M.D.</li>
          <li class="list-group-item">Dr Naresh Trehan,<br> MBBS, MS, MCH</li>
        </ul>
        <div class="card-body">
          <a href="tel:1234567890" class="card-link">Contact Us</a>
          <a href="#top" class="card-link">About US</a>
        </div>
      </div>

    </div>
    <br>
    <div class="col-md-5">

      <br>
      <h4
        style="padding: 15px; background: linear-gradient(to right, #4389A2, #5C258D);border-radius: 10px ; text-align: center;font-size: 30px;"
        class="text-center bg-dark text-white">Appointment Booking</h4>
      <br>
      <br>


      {% with messages=get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}

      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      {% endfor %}
      {% endif %}
      {% endwith %}


      <center>
        <form action="/patients" method="post" class="jumbotron">



          <div class="form-group">

            <input style="  border: 2px solid powderblue" type="email" type="text" type="email" class="form-control"
              id="email" value={{current_user.email}} name="email" required>

          </div>

          <div class="form-group">

            <input style="border: 2px solid powderblue" type="name" type="text" class="form-control" id="name"
              name="name" placeholder="Full name " required>

          </div>

          <div class="form-group">



            <select style="border: 2px solid powderblue ;border-radius: 10px ;" class="form-control" id="gender"
              name="gender" required>
              <option selected>Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>

            </select>
          </div>

          <div class="form-group">



            <select style="border: 2px solid powderblue ;border-radius: 10px ;" class="form-control" id="slot"
              name="slot" required>
              <option selected>Slot</option>
              <option value="morning">Morning</option>
              <option value="evening">Evening</option>
              <option value="night">Night</option>

            </select>
          </div>

          <div class="form-group">

            <input style="border: 2px solid powderblue ;border-radius: 10px ;" type="time" class="form-control"
              name="time" placeholder="Time" required>

          </div>
          <div class="form-group">

            <input style="border: 2px solid powderblue ;border-radius: 10px ;" type="date" class="form-control"
              name="date" placeholder="date" required>

          </div>
          <div class="form-group">

            <input style="border: 2px solid powderblue ;border-radius: 10px ;" type="text" class="form-control"
              id="disease" name="disease" placeholder="Disease" required>

          </div>

          <div class="form-group">



            <select style="border: 2px solid powderblue ;border-radius: 10px ;" class="form-control" id="dept"
              name="dept" required>
              <option selected>Select Doctor Department</option>
              {% for d in doct %}
              <option value="{{d.dept}}">{{d.dept}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">

            <input style="border: 2px solid powderblue ;border-radius: 10px ;" type="number" class="form-control"
              id="number" name="number" placeholder="Phone Number" required>

          </div>

           <br>
          <button style="background: linear-gradient(to right, #4389A2, #5C258D);" type="submit" id="btn" class="btn btn-dark btn-sm btn-block">Make an Appointment</button>
        </form>
      </center>
    </div>


  </div>



</div>




{% endblock body %}